export SOPS_AGE_KEY=$(pass show talos-key)

if [ -f "secret.yaml" ]; then
  eval "$(sops -d --output-type dotenv secret.yaml | sed 's/^/export /')"
fi

export TALOSCONFIG="/run/user/$(id -u)/talosconfig-$(basename $PWD)"
export KUBECONFIG="/run/user/$(id -u)/hetzner-kubeconfig-$(basename $PWD)"
export CONTROLPLANE_CONF="/run/user/$(id -u)/controlplane-$(basename $PWD).yaml"
export WORKER_CONF="/run/user/$(id -u)/worker-$(basename $PWD).yaml"

if [ ! -f "$TALOSCONFIG" ]; then
    sops -d talosconfig > "$TALOSCONFIG"
    chmod 600 "$TALOSCONFIG"
fi

if [ ! -f "$KUBECONFIG" ]; then
    talosctl kubeconfig "$KUBECONFIG" -n $CONTROL_PLANE_IP
    chmod 600 "$KUBECONFIG"
fi

if [ ! -f "$CONTROLPLANE_CONF" ]; then
    sops -d controlplane.yaml > "$CONTROLPLANE_CONF"
    chmod 600 "$CONTROLPLANE_CONF"
fi

if [ ! -f "$WORKER_CONF" ]; then
    sops -d worker.yaml > "$WORKER_CONF"
    chmod 600 "$WORKER_CONF"
fi
